version: 2
updates:
  # Dependencies listed in ecr-login/go.mod
  - package-ecosystem: "gomod"
    directory: "/ecr-login"
    schedule:
      interval: "daily"
    groups:
      # Group updates from github.com/aws/aws-sdk-go-v2 dependencies
      aws-sdk-go-v2:
        patterns:
          - "github.com/aws/aws-sdk-go-v2/*"

  # Dependencies listed in .github/workflows/*.yml
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  # Base image in Dockerfile
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
