name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        os: ['ubuntu-22.04', 'macos-12']
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18'
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.2
          working-directory: ecr-login

  build:
    strategy:
      matrix:
        go: ['1.15', '1.16', '1.17', '1.18']

        # Intentionally use specific versions instead of "latest" to
        # make this build reproducible.
        os: ['ubuntu-22.04', 'macos-12']

      # Build all variants regardless of failures
      fail-fast: false
    name: Build / ${{ matrix.os }} / Go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - run: make get-deps
        if: ${{ matrix.go >= '1.17' }}

      # Apple Silicon is not supported by Go < 1.16.
      # https://go.dev/blog/go1.16
      - name: Cross-compile all variants
        run: make all-variants
        if: ${{ matrix.go >= '1.16' }}
      - name: Cross-compile all variants except for Apple Silicon
        run: make linux-amd64 linux-arm64 darwin-amd64 windows-amd64
        if: ${{ matrix.go < '1.16' }}

      - run: make test
