name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  git-secrets:
    runs-on: 'ubuntu-22.04'
    steps:
      - name: Pull latest awslabs/git-secrets repo
        uses: actions/checkout@v4
        with:
          repository: awslabs/git-secrets
          ref: 1.3.0
          fetch-tags: true
          path: git-secrets
      - name: Install git secrets from source
        run: sudo make install
        working-directory: git-secrets
      - uses: actions/checkout@v4
      - name: Scan repository for git secrets
        run: |
          git secrets --register-aws
          git secrets --scan-history

  cross-compile:
    runs-on: 'ubuntu-22.04'
    steps:
      - uses: actions/checkout@v4
      - name: Cross-compile all variants
        run: make all-variants-in-docker

  unit-test:
    strategy:
      matrix:
        go: ['1.22', '1.23']

        # Intentionally use specific versions instead of "latest" to
        # make this build reproducible.
        os: ['ubuntu-22.04', 'macos-13', 'windows-2022']

      # Build all variants regardless of failures
      fail-fast: false
    name: unit-test (${{ matrix.os }} / Go ${{ matrix.go }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - run: make test
